.item.high {
    background-color: #f502023b;
}

.item.done {
    text-decoration: line-through;
}

.item {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.item-content {
    margin-left: 10px;
}

.item-title {
    margin: 0;
    text-transform: uppercase;
}

.item-description {
    margin: 10px 0 0;
    font-style: italic;
}

.item.done .item-content {
    text-decoration: 
}