.app {
    height: 80vh;
    padding: 20px;
    display: flex;
}

.add-to-do-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #ffc107;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}